<!DOCTYPE html>
<html
  dir="ltr"
  lang="en"
  data-theme="dark"
  
    class="html theme--dark"
  
><head>
  <title>
    unkwn1
        |
        Unkwn1&#39;s Technical Mind-Palace
      

    

  </title>

  
  <meta charset="utf-8" /><meta name="generator" content="Hugo 0.108.0"><meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover" />
  <meta name="author" content="unkwn1" />
  <meta
    name="description"
    content="Learning as I go."
  />
  
  
    
    
    <link
      rel="stylesheet"
      href="/scss/main.min.5794be192d21535bdd301561e043a96b6adbad2b5c08279deff459e4661c613f.css"
      integrity="sha256-V5S&#43;GS0hU1vdMBVh4EOpa2rbrStcCCed7/RZ5GYcYT8="
      crossorigin="anonymous"
      type="text/css"
    />
  

  
  <link
    rel="stylesheet"
    href="/css/markupHighlight.min.31b0a1f317f55c529a460897848c97436bb138b19c399b37de70d463a8bf6ed5.css"
    integrity="sha256-MbCh8xf1XFKaRgiXhIyXQ2uxOLGcOZs33nDUY6i/btU="
    crossorigin="anonymous"
    type="text/css"
  />
  
  
  <link
    rel="stylesheet"
    href="/fontawesome/css/fontawesome.min.7d272de35b410fb165377550cdf9c4d3a80fbbcc961e111914e4d5c0eaf5729f.css"
    integrity="sha256-fSct41tBD7FlN3VQzfnE06gPu8yWHhEZFOTVwOr1cp8="
    crossorigin="anonymous"
    type="text/css"
  />
  
  <link
    rel="stylesheet"
    href="/fontawesome/css/solid.min.55d8333481b07a08e07cf6f37319753a2b47e99f4c395394c5747b48b495aa9b.css"
    integrity="sha256-VdgzNIGwegjgfPbzcxl1OitH6Z9MOVOUxXR7SLSVqps="
    crossorigin="anonymous"
    type="text/css"
  />
  
  <link
    rel="stylesheet"
    href="/fontawesome/css/regular.min.a7448d02590b43449364b6b5922ed9af5410abb4de4238412a830316dedb850b.css"
    integrity="sha256-p0SNAlkLQ0STZLa1ki7Zr1QQq7TeQjhBKoMDFt7bhQs="
    crossorigin="anonymous"
    type="text/css"
  />
  
  <link
    rel="stylesheet"
    href="/fontawesome/css/brands.min.9ed75a5d670c953fe4df935937674b4646f92674367e9e66eb995bb04e821647.css"
    integrity="sha256-ntdaXWcMlT/k35NZN2dLRkb5JnQ2fp5m65lbsE6CFkc="
    crossorigin="anonymous"
    type="text/css"
  />
  
  <link rel="shortcut icon" href="/favicons/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />

  <link rel="canonical" href="https://unkwn1.dev/" />

  
  <link rel="alternate" type="application/rss+xml" href="/index.xml" title="Unkwn1's Technical Mind-Palace" />
  
  
  
  <script
    type="text/javascript"
    src="/js/anatole-header.min.f9132794301a01ff16550ed66763482bd848f62243d278f5e550229a158bfd32.js"
    integrity="sha256-&#43;RMnlDAaAf8WVQ7WZ2NIK9hI9iJD0nj15VAimhWL/TI="
    crossorigin="anonymous"
  ></script>

  

  


  
  <meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="https://unkwn1.dev/images/site-feature-image.png"/>

<meta name="twitter:title" content="Unkwn1&#39;s Technical Mind-Palace"/>
<meta name="twitter:description" content="Learning as I go."/>



  
  <meta property="og:title" content="Unkwn1&#39;s Technical Mind-Palace" />
<meta property="og:description" content="Learning as I go." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://unkwn1.dev/" /><meta property="og:image" content="https://unkwn1.dev/images/site-feature-image.png"/><meta property="og:site_name" content="unkwn1&#39;s Technical Mind Palace" />




  
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "Unkwn1's Technical Mind-Palace",
      "url": "https:\/\/unkwn1.dev",
      "description": "Learning as I go.",
      "thumbnailUrl": "https:\/\/unkwn1.dev",
      "license": "2021 - {{ YEAR }}"
    }
  </script>


</head>
<body class="body">
    <div class="wrapper">
      <aside
        
          class="wrapper__sidebar"
        
      ><div
  class="sidebar
    animated fadeInDown
  "
>
  <div class="sidebar__content">
    <div class="sidebar__introduction">
      <img
        class="sidebar__introduction-profileimage"
        src="/images/unkwn1.jpeg"
        alt="profile picture"
      />
      
        <h1 class="sidebar__introduction-title">
          <a href="/">unkwn1&#39;s Technical Mind Palace</a>
        </h1>
      
      <div class="sidebar__introduction-description">
        <p>Learning as I go.</p>
      </div>
    </div>
    <ul class="sidebar__list">
      
        <li class="sidebar__list-item">
          <a
            href="https://gitlab.com/unkwn1"
            target="_blank"
            rel="noopener me"
            aria-label="GitLab"
            title="GitLab"
          >
            <i class="fab fa-gitlab fa-2x" aria-hidden="true"></i>
          </a>
        </li>
      
        <li class="sidebar__list-item">
          <a
            href="https://www.instagram.com/unkwn1"
            target="_blank"
            rel="noopener me"
            aria-label="instagram"
            title="instagram"
          >
            <i class="fab fa-instagram fa-2x" aria-hidden="true"></i>
          </a>
        </li>
      
        <li class="sidebar__list-item">
          <a
            href="mailto:1337@unkwn1.dev"
            target="_blank"
            rel="noopener me"
            aria-label="e-mail"
            title="e-mail"
          >
            <i class="fas fa-envelope fa-2x" aria-hidden="true"></i>
          </a>
        </li>
      
    </ul>
  </div><footer class="footer footer__sidebar">
  <ul class="footer__list">
    <li class="footer__item">
      &copy;
      
        2021 - 2022
      
    </li>
    
  </ul>
</footer>
  
  <script
    type="text/javascript"
    src="/js/medium-zoom.min.1248fa75275e5ef0cbef27e8c1e27dc507c445ae3a2c7d2ed0be0809555dac64.js"
    integrity="sha256-Ekj6dSdeXvDL7yfoweJ9xQfERa46LH0u0L4ICVVdrGQ="
    crossorigin="anonymous"
  ></script></div>
</aside>
      <main
        
          class="wrapper__main"
        
      >
        <header class="header"><div
  class="
    animated fadeInDown
  "
>
  <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true" class="navbar-burger__line"></span>
    <span aria-hidden="true" class="navbar-burger__line"></span>
    <span aria-hidden="true" class="navbar-burger__line"></span>
  </a>
  <nav class="nav">
    <ul class="nav__list" id="navMenu">
      
      
        
        
          <li class="nav__list-item">
            <a
              
                class="nav__link--active"
              
              href="/"
              
              title=""
              >Home</a
            >
          </li>
        

      
        
        
          <li class="nav__list-item">
            <a
              
              href="/post/"
              
              title=""
              >Posts</a
            >
          </li>
        

      
        
        
          <li class="nav__list-item">
            <a
              
              href="/about/"
              
              title=""
              >About</a
            >
          </li>
        

      
        
        
          <li class="nav__list-item">
            <a
              
              href="/backpack-backup/"
              
              title=""
              >Backpack Project</a
            >
          </li>
        

      
    </ul>
    <ul class="nav__list nav__list--end">
      
      
    </ul>
  </nav>
</div>
</header>
  <div
    class="post 
      animated fadeInDown
    "
  >
    <div class="post__content">
      
    </div>

    
  </div>

  

  
  
    <div
      class="post 
        animated fadeInDown
      "
    >
      
      <div class="post__content">
        <h3><a href="/post/dorkscan-update-summary-v0-0-2/">DORKSCAN - V0.0.2 UPDATE NOTES</a></h3>
        
          <p>DorkScan v0.0.2 A day later and two merges later and I think DorkScan is shaping up to be a bit of code I’m quite happy with. These changes I’ll be going over fix bugs, reduce code and, generally make the code more approachable.</p>
        
        <a href="/post/dorkscan-update-summary-v0-0-2/">Read more</a></div>

      
      <div class="post__footer">
        <em class="fas fa-calendar-day"></em>
        <span class="post__footer-date"
          >
            
              Sun, Jan 2, 2022
            

          </span
        >
        
          <span><a class="category" href="/categories/projects/">Projects</a><a class="category" href="/categories/infosec/">InfoSec</a><a class="category" href="/categories/coding/">Coding</a></span>


        

        
          <span><a class="tag" href="/tags/python/">python</a><a class="tag" href="/tags/gitlab/">gitlab</a><a class="tag" href="/tags/google-dorking/">google dorking</a><a class="tag" href="/tags/web-scraping/">web scraping</a></span>


        
      </div>
    </div>
  
    <div
      class="post 
        animated fadeInDown
      "
    >
      
      <div class="post__content">
        <h3><a href="/post/init-dorkscan-python-project/">DORKSCAN - AUTOMATING DORKED SEARCH QUERIES</a></h3>
        
          <p>DorkScan - Automate Scraping Dorked Search Queries DorkScan, a project I’ve been working on for the past couple of weeks after contributing to a friends (original) project. DorkScan automates the dorked query and scraping of search engine result pages to find links that include query parameters.</p>
        
        <a href="/post/init-dorkscan-python-project/">Read more</a></div>

      
      <div class="post__footer">
        <em class="fas fa-calendar-day"></em>
        <span class="post__footer-date"
          >
            
              Sat, Jan 1, 2022
            

          </span
        >
        
          <span><a class="category" href="/categories/projects/">Projects</a><a class="category" href="/categories/infosec/">InfoSec</a><a class="category" href="/categories/coding/">Coding</a></span>


        

        
          <span><a class="tag" href="/tags/python/">python</a><a class="tag" href="/tags/gitlab/">gitlab</a><a class="tag" href="/tags/google-dorking/">google dorking</a><a class="tag" href="/tags/web-scraping/">web scraping</a></span>


        
      </div>
    </div>
  
    <div
      class="post 
        animated fadeInDown
      "
    >
      
      <div class="post__content">
        <h3><a href="/post/pip-module-names-using-sed/">PIP MODULES NAMES ONLY USING SED</a></h3>
        
          <p>Getting Pip Package Names Using sed &amp; pip freeze Upgrading pip packages can be a pain. More so when you’re not using virtual environments but, even with them it’s still annoying. There are some packages out there to help such as pip-review.</p>
        
        <a href="/post/pip-module-names-using-sed/">Read more</a></div>

      
      <div class="post__footer">
        <em class="fas fa-calendar-day"></em>
        <span class="post__footer-date"
          >
            
              Mon, Mar 22, 2021
            

          </span
        >
        
          <span><a class="category" href="/categories/python/">Python</a></span>


        

        
          <span><a class="tag" href="/tags/linux/">Linux</a><a class="tag" href="/tags/python/">Python</a><a class="tag" href="/tags/sed/">sed</a></span>


        
      </div>
    </div>
  
    <div
      class="post 
        animated fadeInDown
      "
    >
      
      <div class="post__content">
        <h3><a href="/post/modern-approach-to-seo-link-building/">A MODERN APPROACH TO LINK BUILDING FOR SEO</a></h3>
        
          <p>A Modern Approach to Link Building for SEO Skip to the bottom of the article for a real life example of a modern approach to link building. Read through for a history of link building and how / why things changed.</p>
        
        <a href="/post/modern-approach-to-seo-link-building/">Read more</a></div>

      
      <div class="post__footer">
        <em class="fas fa-calendar-day"></em>
        <span class="post__footer-date"
          >
            
              Mon, Feb 22, 2021
            

          </span
        >
        
          <span><a class="category" href="/categories/digital-marketing/">Digital Marketing</a></span>


        

        
          <span><a class="tag" href="/tags/seo/">SEO</a></span>


        
      </div>
    </div>
  
    <div
      class="post 
        animated fadeInDown
      "
    >
      
      <div class="post__content">
        <h3><a href="/post/lenovo-trackpad-sensitivity-fix-arch/">LENOVO TRACKPAD &amp; TRACKPOINT FIX</a></h3>
        
          <p>Lenovo Arch TrackPoint &amp; TrackPad Sensitivity Fix For those not following me on Instagram or Twitter I’ve recently made the switch to EndeavourOS (a flavour of Arch Linux) and have been using it as my daily driver.</p>
        
        <a href="/post/lenovo-trackpad-sensitivity-fix-arch/">Read more</a></div>

      
      <div class="post__footer">
        <em class="fas fa-calendar-day"></em>
        <span class="post__footer-date"
          >
            
              Wed, Feb 17, 2021
            

          </span
        >
        
          <span><a class="category" href="/categories/linux/">Linux</a></span>


        

        
          <span><a class="tag" href="/tags/arch/">arch</a><a class="tag" href="/tags/lenovo/">lenovo</a><a class="tag" href="/tags/i3wm/">i3wm</a></span>


        
      </div>
    </div>
  
  <div class="pagination">
    
  <ul class="pagination__list">
    
    
    
      <li class="pagination__list-item">
        <a class="page-link" href="/">
          <i class="fa fa-angle-left" aria-label="Previous"></i>
        </a>
      </li>
    
    
      
        <li class="pagination__list-item">
          <a class="page-link" href="/">1</a>
        </li>
      

    
      
        <li class="pagination__list-item">
          <span class="page-link current">2</span>
        </li>
      

    
    
  </ul>


  </div>

      </main>
    </div><footer class="footer footer__base">
  <ul class="footer__list">
    <li class="footer__item">
      &copy;
      
        2021 - 2022
      
    </li>
    
  </ul>
</footer>
  
  <script
    type="text/javascript"
    src="/js/medium-zoom.min.1248fa75275e5ef0cbef27e8c1e27dc507c445ae3a2c7d2ed0be0809555dac64.js"
    integrity="sha256-Ekj6dSdeXvDL7yfoweJ9xQfERa46LH0u0L4ICVVdrGQ="
    crossorigin="anonymous"
  ></script></body>
</html>
